<!DOCTYPE html>
<html>
<head>
    <title>KLPQ Client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/klpq.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <!-- normal script imports etc  -->
    <script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="application/setting.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>


</head>

<body>

<div class="wrapper">
    <div class="channels">
        <div class="collapse-list" data-id="online"><span class="fa fa-caret-right"></span>Online (<span
                id="online-number">0</span>)
        </div>
        <div class="collapse-wrap" id="online">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque ipsum, fringilla non mattis nec,
            vehicula at ex. Morbi nulla neque, fringilla eget vestibulum quis, maximus id arcu. Integer a felis
            interdum, scelerisque dolor at, luctus urna. Proin ut dui vel est iaculis consectetur. Praesent id mauris
            vestibulum, faucibus augue venenatis, ultrices eros. Etiam tempus et lectus sit amet sollicitudin. Integer
            at ante in nunc euismod tincidunt vel nec tellus. Aliquam felis justo, imperdiet in dui vel, varius pulvinar
            urna. Etiam posuere suscipit vestibulum. Sed iaculis quam elit. Nunc lorem velit, efficitur eu velit
            laoreet, fermentum suscipit lectus. Quisque id sodales tortor. Suspendisse tempor risus at luctus rhoncus.
            Nam ac tellus bibendum, gravida sapien sit amet, aliquam velit. Pellentesque nec odio vel metus varius
            laoreet. Ut feugiat, magna eget pretium interdum, libero urna facilisis nibh, eget bibendum dolor nisl
            congue purus.

            Nulla pulvinar ullamcorper metus id ultricies. Phasellus ultricies, tortor ac fermentum euismod, odio augue
            ullamcorper odio, ac laoreet lacus lectus sit amet lacus. Phasellus vehicula felis a libero scelerisque, ac
            feugiat libero sollicitudin. Suspendisse pretium lorem a nibh scelerisque semper. Aliquam erat lorem,
            consequat et luctus vitae, pharetra ac nunc. Vivamus at dui nec nulla tristique egestas. Suspendisse
            potenti. Curabitur mauris dui, bibendum at condimentum ut, maximus id ipsum. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus.

            Vivamus quis tortor non ligula rutrum malesuada sit amet non libero. Maecenas feugiat pharetra pretium. Cras
            euismod metus sit amet diam vehicula ornare. Donec eros purus, ultricies sit amet scelerisque ut, efficitur
            vitae lacus. Integer vulputate vitae libero ac blandit. Quisque commodo, nisl non convallis sodales, lorem
            elit accumsan ante, at egestas orci mi id magna. Sed et finibus enim. Suspendisse potenti.

            Proin luctus leo eget tempus imperdiet. Mauris feugiat imperdiet odio, vehicula congue elit porttitor vitae.
            Aenean ac nulla vestibulum, vulputate neque sit amet, faucibus justo. Nullam dictum eleifend nisi blandit
            posuere. Maecenas scelerisque est in dapibus sollicitudin. Curabitur tempus elit sed dui vehicula, vel
            rutrum orci interdum. Pellentesque ac quam sed lorem fermentum sodales a at magna. Mauris fringilla sed dui
            id commodo. Nunc laoreet ante ut iaculis ultricies. Cras vulputate quam purus, at malesuada eros efficitur
            nec. Suspendisse aliquam ultricies lobortis. Nunc vehicula lectus ut varius rhoncus. Nullam et erat et ipsum
            vulputate venenatis nec ullamcorper turpis.

            Sed pretium ultrices elementum. Pellentesque elementum libero diam, eu faucibus diam rutrum ut. Ut nibh
            tortor, viverra sollicitudin malesuada non, maximus facilisis augue. Sed nec orci dolor. Donec suscipit
            fermentum enim, et pharetra ex faucibus id. In fermentum eu sem id gravida. Proin id accumsan arcu, a semper
            ligula. Duis gravida volutpat cursus.
        </div>
        <div class="collapse-list" data-id="offline"><span class="fa fa-caret-right"></span>Offline (<span
                id="offline-number">0</span>)
        </div>
        <div class="collapse-wrap" id="offline">

        </div>
    </div>


</div>
<footer>
    <div class="top-footer">
        <div class="add-channel">
            <input placeholder="Add Channel" id="add-channel">
        </div>
    </div>
    <div class="bottom-footer">
        <div class="icon-settings">
            asdasd
        </div>
        <div class="version">
            version <span id="#version-number">4.20</span>
        </div>
    </div>
</footer>
</body>
<script>

    require('./renderer.js')
</script>

</html>