<!DOCTYPE html>
<html>
<head>
    <title>KLPQ Client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/klpq.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <!-- normal script imports etc  -->
    <script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="application/scripts.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>


</head>

<body>
<div id="channels-page" class="page">
    <div class="wrapper">
        <div class="channels">
            <div class="collapse-list" data-id="online"><span class="fa fa-caret-right"></span>Online (<span
                    id="online-number">0</span>)
            </div>
            <div class="collapse-wrap" id="online">
                {{#each channels}}
                    <div class="item">
                        <div class="item-icon fa-twitch fa"></div>
                        <div class="item-name"> {{link}}</div>
                    </div>
                {{/each}}
            </div>
            <div class="collapse-list" data-id="offline"><span class="fa fa-caret-right"></span>Offline (<span
                    id="offline-number">0</span>)
            </div>
            <div class="collapse-wrap" id="offline">

            </div>
        </div>


    </div>
    <footer>
        <div class="top-footer">
            <div class="add-channel">
                <input placeholder="Add Channel" id="add-channel">
                <div class="btn" id="add-channel-btn"><i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="icon-settings">
                <a data-page="settings" class="fa fa-cog change-page" aria-hidden="true"></a>
            </div>
            <div class="version">
                version <span id="#version-number">4.20</span>
            </div>
        </div>
    </footer>
</div>
<div id="settings-page" class="page">
    <div class="go-back">
        <a href="#" class="change-page" data-page="channels"> <span class="fa fa-chevron-left"></span>Back </a>
    </div>

    <div class="form-group">
        <label>Livestreamer Path</label>
        <input class="form-control" name="livestreamer_path" id="livestreamer_path">
    </div>
    <div class="form-group">
        <label>Screenshot Path</label>
        <input class="form-control" name="screenshot_path" id="screenshot_path">
    </div>
    <div class="form-group">
        <label>
            <input id="notification" name="notifications" type="checkbox"> Show Notifications
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" name="minimize" type="checkbox"> Minimize at start
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" name="play_on_balloon" type="checkbox"> Play on Balloon Click
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" name="check_updates" type="checkbox"> Check Updates
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" name="logs" type="checkbox"> Write Logs
        </label>
    </div>
</div>
</body>
<script>
    require('./renderer.js')
</script>

</html>