<!DOCTYPE html>
<html>
<head>
    <title>KLPQ Client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/klpq.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <!-- normal script imports etc  -->
    <script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="application/scripts.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>


</head>
<body>
<a href="index.hbs">Back</a>
</body>
<script>

    require('./renderer.js')
</script>

</html>