.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 1px solid lightgray;
    flex-direction: column;
    align-items: flex-end;
    width: 24px;
}

.tab {
    display: flex;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
    background-color: white;
    height: 105px;
    outline: 1px solid #969696;
    width: 21px;
    cursor: pointer;
    align-items: center;
    box-sizing: content-box;
}

.tab.active {

    box-shadow: inset -1px 0px 0px 0px #119400;
    border-right: 2px solid #119400;
}

.pinned-channel {
    background-color: yellow;
    color: white
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

#app {
    height: 100%;
}

.tab-panel {
    overflow-y: auto;
    max-height: 100vh;
}

.react-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.react-tabs__tab-panel--selected {
    width: 100%;
}