.tabs {
    background-color: #292b2c;
}

.bottom-footer {
    background-color: #5d5c5c;;
}

.collapse-list {
    background-color: #3e4041;
    color: #b4b4b4;
    border-color: #343638;

}

input {
    background-color: #252525;
    color: white;
}

#add-channel-btn {
    border-color: #393939;
    background-color: #2d4c2d;
}

#theme {
    background-color: #252525;
    color: white;
}

#add-channel {
    border-color: #393939;
}

#settings-page {
    background-color: #292b2c;
    color: white;
}

#settings-page * {
    color: white
}

.change-page {
    color: black;
}

.item-name {
    color: white;
}

.item.selected {
    background-color: #3a3a3a !important;
}

.twitch-import {

}

.item {
    border-color: #3c3b3b;
}

body {
    background-color: #292b2c
}

.form-control {
    border-color: #393939;
}

.icon {
    background: white;
}

.cog {
    -webkit-mask: url(cog.svg) center / contain no-repeat;
}

.plus {
    -webkit-mask: url(plus.svg) center / contain no-repeat;
}

.caret {
    -webkit-mask: url(caret-right.svg) center / contain no-repeat;
}

.caret.active {
    -webkit-mask: url(caret-down.svg) center / contain no-repeat;
}

.icon-settings a {
    color: black;
}

.file-input-addon {
    color: black !important;
}

footer {
    background-color: #2f2f2f;
}