@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-size: 14px;
}

.tabs .tab {
    display: inline-block;
    padding: 0px 10px;
}

.tabs {

    padding: 5px 0px;
}

#theme {
    width: 100%;
    padding: 5px;
    font-size: 1.0em;
    margin-top: 10px;
}

body, html {
    font-family: "Open Sans";
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
}

.settings-footer > div {
    width: 50%;
    display: inline-block;
}

.channels {
    margin-bottom: -75px;
    padding-bottom: 75px;
}

.wrapper {
    height: 100%;
    overflow: auto;
}

.top-footer {
    height: 55px;
}

.bottom-footer {

    height: 20px;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
}

.version {
    width: 50%;
    text-align: right;
    float: right;
}

.add-channel {
    margin: 0px 10px;
    clear: both;
    display: flex;
}

.collapse-list .fa {
    width: 9px;
    margin-right: 4px;
}

.item div {

}

.collapse-wrap {
    display: none;

}

.collapse-wrap.active {
    display: block;
}

.item-name {
    margin-left: 10px;
}

.collapse-list {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.item {
    margin: 0px 3px;
    font-size: 13px;
    display: flex;
    font-weight: 600;
    border-top: 1px solid;
    align-items: center;
    padding: 3px 0px;
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.collapse-list {
    font-size: 13px;
    cursor: default;
    height: 25px;
    line-height: 25px;
    padding: 0px 10px;

    border-top: 1px solid;
    border-bottom: 1px solid;

}

.d-none {
    display: none;
}

.file-input-group {
    clear: both;
    display: flex;
}

#livestreamer_path {
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #393939;
    flex: 1;
}

.file-input-addon {
    padding: 0px 8px 0px 8px;
    margin: 8px 0px 0px 0px;
    height: 30px;
    margin-left: -10px;
    line-height: 30px;
    border: 1px solid;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;
    display: flex;
    cursor: pointer;
    background-color: white;
    align-items: center;
}

#add-channel-btn {
    padding: 0px 13px 0px 13px;
    margin: 15px 0px;
    height: 30px;
    margin-left: -10px;
    line-height: 30px;
    border: 1px solid;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

#add-channel {
    margin: 15px 0px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #393939;
    padding: 10px;
    flex: 1;
    outline: none;
}

#online .item {
    background-color: rgba(0, 255, 0, 0.05);
}

.twitch-import {
    float: right;
    font-size: 14px;
    padding: 4px 15px;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 4px;

    cursor: pointer;
}

.icon-settings {
    width: 100%;
    text-align: left;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

#update {
    color: darkblue;
    font-size: 10px;
}

#channels-page {
    height: 100%;
}

#settings-page.active {
    display: flex !important;
}

#channels-page.active {
    display: block !important;
}

#settings-page {

    height: 100%;
    padding: 0px 10px;

    flex-direction: column;
}

.page:not(.active) {
    display: none;
}

.form-group {
    margin: 10px 0px;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.go-back .change-page .fa {
    margin-right: 5px;
}

.change-page {
    text-decoration: none;
    cursor: pointer;
}

.form-control {

    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    width: 100%;
    margin-top: 8px;
}

.icon-settings a {
    color: black;
    text-decoration: none;
}

.caret {
    background-image: url('caret-right.svg');
    padding-top: 7px;
}

.caret.active {
    background-image: url('caret-down.svg');
    padding-top: 7px;
}

.cog {
    background-image: url('cog.svg');
    padding-top: 2px;
}

.plus {
    background-image: url('plus.svg');
}

.icon {
    width: 16px;
    height: 16px;
    background-size: 100%;
    display: block;
    clear: both;
    background-position: center center;

    position: relative;
    background-repeat: no-repeat;
    float: left;
}

.settings-footer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 5px;
}

footer {
    position: relative;
    height: 75px;

    margin-top: -75px;
    width: 100%;

}